@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

main {
  background-color: rgb(41, 41, 41);
}

body::-webkit-scrollbar {
  height: 0;
}

/* Hide horizontal scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  overflow-x: -moz-scrollbars-none; /* Firefox */
}
