@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: linear-gradient(
    180deg,
    rgba(var(--background-start-rgb), 1) 0%,
    rgba(var(--background-end-rgb), 1) 100%
  );
  color: rgba(var(--foreground-rgb), 1);
}

main {
  background-color: rgb(41, 41, 41);
}

body::-webkit-scrollbar {
  height: 0;
}

body {
  -ms-overflow-style: none;
  overflow-x: -moz-scrollbars-none;
}
